!!! 5
%html
  %head
    %title SoundCloud Radio
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'
    = stylesheet_link_tag 'main'
    = javascript_include_tag 'audio'
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'player'
    = csrf_meta_tags

  %body
    .container
      %nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
        .container.container-fluid
          / Brand and toggle get grouped for better mobile display
          .navbar-header
            %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar

            %a.navbar-brand
              SoundCloud
              %span.glyphicon.glyphicon-headphones
              Radio
          / Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li.active
                %a{:href => "/home"} Home
            .form-group.navbar-form.navbar-left
              = form_tag search_path do
                = text_field_tag  :search_term, nil, class: "form-control"
                = submit_tag "Search", class: "btn btn-default"
            %ul.nav.navbar-nav.navbar-right
              - if @current_user
                %li
                  = button_to "Logout #{@current_user.username}", logout_path, :method => :delete, class: "btn btn-link"
              - else
                %li
                  = button_to "Login", login_path, :method => :get, class: "btn btn-link"
      - if @log
        %h2 Logger:
        %h3 #{@log}
      #main.row
        #content
          - if flash[:notice]
            %h2 #{flash[:notice]}
          - elsif flash[:warning]
            %h2 #{flash[:warning]}
          = yield

    / embedded player and songs data
    .embedded-player
      %audio{:preload => ""}
    #json-songs{data: {variable: @json_songs}}

    / player bottom bar
    - if @json_songs
      #player-bar.navbar.navbar-inverse.navbar-fixed-bottom
        .container
          .row
            #current-song-info
              .navbar-brand.col
                %span.glyphicon.glyphicon-play#play-pause
              .navbar-brand.col
                %span.glyphicon.glyphicon-step-forward#skip
              .navbar-brand.col
                %img#current-artwork{:src => ""}
              .navbar-brand.col
                .row
                  %p#current-title.heading
                .row
                  %a#current-link View SoundCloud Page
            #next-song-info.navbar-right
              .navbar-brand.col
                .row
                  %p.heading Coming Up:
                .row
                  %p#next-title
              .right-element.navbar-brand.col
                %img#next-artwork{:src => ""}
